*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearfix:after{
    content: '';
    display:table;
    clear: both;
}

/* || GENERAL || */

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.section-container {
    width: 70%;
    margin: 0 auto;
}


/* || HEADER || */


/* || NAV BAR || */
nav {
    padding: 2% 2%;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
    padding-right: 2%;
}


/* || LOGO || */



/* || LISTA NAV BAR || */
nav ul {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav li img {
    vertical-align: bottom;
}

/* || JUMBO JUMGO || */

.jumbo-section {
    background-color: rgb(144, 144, 248);
    padding: 7% 0;
}

.jumbo-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.jumbo-text {
    width: 30%;
}

.jumbo-text p {
    padding: 10% 0 6%;
}

.jumbo-text .btnLarge {
    font-size: 0.8rem;
    width: 70%;
}

.fa-arrow-down {
    font-size: 6vh;
}

.jumbo-container img {
    width: 50%;
    position: absolute;
    right: 0;
    top: 65%;
}

h1 {
    font-size: 9.5vh;
}

/* || COLUMN SECTION || */

.col-section {
    padding: 10% 0 10% 0%;
}

.col {
    border: 1px solid gray;
    float: left;
    width: calc(100% / 3 - 3.34%);
}

.middle-col {
    margin: 0 5%;
}

.col > span:first-child {
    display: block;
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 5%;
}
.col-text {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}

.col-text h4 {
    /* padding: 5% 0 10%; */
    padding: 1.2rem 0 0;
}

.col .text-format a {
    color: blue;
}

.col-text .btnLarge {
    margin: 15% 0 5%;
}

.border {
    border-bottom: 1px solid gray;
    padding-bottom: 10% ;
}

.col-text ul {
    padding: 15% 0;
}

.col-text li {
    padding: 5% 0;
}

.colLarge {
    width: 100%;
    position: relative;
}

.colLarge .btnLarge {
    position: absolute;
    top: 5%;
    right: 5%;
}

/* || IMAGE SECTION || */
.img-section img{
    float: left;
    width: 55%;
}

.img-sectionText {
    padding: 5% 0 0;
    width: 40%;
    float: right;
}

.img-section .text-format {
    padding-bottom: 10%;
}

/* || TEXT || */

p {
    font-size: 0.8rem
}

.text-format {
    font-size: 0.8rem;
    display: block;
    padding: 0.7rem 0;
}

.textCol-format {
    border: 1px solid gray;
}


/* || BUTTONS || */

.btnLarge {
    background-color: blue;
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

.btnMedium {
    border: 1px solid gray;
    padding: 2% 4%;
    margin-top: 50px;
}

.btnSmall {
    background-color: blue;
    color: white;
    padding: 15% 40%;
}