*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearfix:after{
    content: '';
    display:table;
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}


/* || HEADER || */


/* || NAV BAR || */
nav {
    padding: 2% 2%;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
    padding-right: 2%;
}


/* || LOGO || */



/* || LISTA NAV BAR || */
nav ul {
    display: inline-block;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav li img {
    vertical-align: bottom;
}


/* || INIZIA BUTTON || */
nav .btnSmall {
    background-color: blue;
    color: white;
    padding: 15% 40%;
    /* margin-right: 30px; */
}

/* || JUMBO JUMGO || */

.jumbo-section {
    background-color: rgb(144, 144, 248);
    padding: 7%;
}

.jumbo-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.jumbo-text {
    width: 30%;
}

.jumbo-text p {
    padding: 10% 0 6%;
}

.jumbo-text .btnLarge {
    font-size: 0.8rem;
    width: 70%;
}

.fa-arrow-down {
    font-size: 6vh;
}

.jumbo-container img {
    width: 50%;
    position: absolute;
    right: 0;
    top: 65%;
}

h1 {
    font-size: 9.5vh;
}

/* || COLUMN SECTION || */

.col-section {
    width: 90%;
}

/* || TEXT || */

p {
    font-size: 0.8rem
}

.text-format {
    font-size: 0.8rem;
    padding: 3% 0 15%;
    display: block;
}

/* || BUTTONS || */

.btnLarge {
    background-color: blue;
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-align: center;
}